.header, .container0 {
    background-color: #1F2937;
    padding: 10px;
}

body {
    font-family: monospace;
}

a {
    font-size: 24px;
    color: #F9FAF8;
    text-decoration: none;
}

ul, p {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.container2 img {
    width: 100x;
    height: 50px;
}

.container1 button {
    background: #3882F6;
}